body{
 background-image: url('photos/beer_texture1953.jpg');
    color:white;
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 400;
}

h1{
    color: white;
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 700;
    font-size: 6em;
    text-shadow: 5px 3px 5px black;
}

.panel-black{
    background: black;
    border-color:black;
}

#panel-result{
    margin-top: 60px;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
}

#result-font{
    font-size: 2em;
}

#panel-input{
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    padding-bottom: 2%;
}

#info{margin-top: 0px;
        margin-bottom: 5px;
}

#beer-image img{
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;  
}